<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <!-- estilos -->
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/normalize.css' />
    <!-- fontawesome -->
    <link rel='stylesheet' href='/css/all.min.css'>
</head>