<header>
    <nav>
        <div class="menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </nav>
    <div class="sidebar hide-sidebar">
        <ul class="nav">
            <a href="/#"><li class="nav-item"><i class="fa fa-home"></i>Inicio</li></a>
        <% if (locals.user) { %>
            <% if (locals._locals.session.auth) { %>
            <a href='/movies/add'>
                <li class="nav-item"><i class="fa fa-user"></i>Crear</li>
            </a>
            <a href='/user/list'>
                <li class="nav-item"><i class="fa fa-user"></i>Usuarios</li>
            </a>
            <a href="/user/profile/<%= user.id %>">
                <li class="nav-item"><i class="fa fa-user"></i>Perfil</li>
            </a>
            <a href="/user/logout">
                <li class="nav-item"><i class="fa fa-sign-out-alt"></i>Salir</li>
            </a>
            <% } else { %>
            <a href="/user/profile/<%= user.id %>">
                <li class="nav-item"><i class="fa fa-user"></i>Perfil</li>
            </a>
            <a href="/user/logout">
                <li class="nav-item"><i class="fa fa-sign-out-alt"></i>Salir</li>
            </a>
            <% } %>
            <% } else { %>
            <a href="/user/login">
                <li class="nav-item"><i class="fa fa-sign-in-alt"></i>Ingresar</li>
            </a>
            <a href="/user/register">
                <li class="nav-item"><i class="fa fa-user"></i>Registrarse</li>
            </a>
            <% } %>
        </ul>
    </div>
        </div>
            <% if (locals.user) { %>
            <div class="header-button">
                <h2>Hola <%= locals.user.name %>
                        </li>
                </h2>
            </div>
            <% } %>
    <div class="title">
    <h1>
       Desafio Nodejs
    </h1>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/menuOculto.js" charset="utf-8"></script>
</header>