body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  outline: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:rgb(77, 3, 95);
  padding: 2px;
}

.title {
  margin-right: 15px;
}

.header-button {
  display: flex;
  margin-top: 3px;
  align-items: baseline;
}

a, a:link, a:visited, a:active {
  outline: none;
  text-decoration: none;
  color: white;
}

h2 {
  
  display: block;
  font-size: 2em;
  text-align:center;
  margin-top: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  color: black;
  line-height: 1.6;
}

h4 {
  color: white
}

.menu-clicked {
  transform: scale(1.25);
  opacity: 0.9;
}

.sidebar {
  position: absolute;
  top: 1px;
  height: inherit;
  width: 255px;
  transition: left 1s;
}

.sidebar ul { width: inherit; }

.hide-sidebar { left: -320px; }

.show-sidebar { left: 0; }

nav {
  display: flex;
  margin-top: 21px;
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
  line-height: 20px;
  padding: 0 20px;
  float: left;
  font-size: 26px;
  opacity: 0.6;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 1s
}

.nav {
  position: absolute;
  left: 41%;
  top: 25%;
  transform: translate(-50%, 40%);
}

.nav-item {
  margin: auto;
  padding: 5.5px;
  color: black;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.9;
  transition: all 1s;
  background-color: gainsboro;
}
.nav-item:hover { opacity: 1; }

.nav-item a:link, a:visited {
  color:black;
}

.input-field {
		position: relative;
		margin-bottom: 10px;
		}

label {
    font-weight: bold;   
}

.box {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 8px 2px 9px 20px;
    height: 25px;
    border: 1px solid grey;
    box-sizing: border-box;
    outline: none;
  }

.box #release_date, #title, #length, #awards, #rating {
  align-content: center;
}

.movie {
	background: #fff;
  color: black;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 2% auto 0;
	border-top: 5px solid rgb(77, 3, 95);
  margin-bottom: 40px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  margin: 35px;
  font-size: 25px;
  width: 555px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.movie-item { 
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(46, 46, 46, 0);
 }

.movie-item:hover { 
  opacity: 0.9;
  background-color: purple;
 }

.movie-list a:visited, a:link {
    color:white;
}

.add-movie {
	background: #fff;
  color: black;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 2% auto 0;
	border-top: 5px solid rgb(77, 3, 95);
  margin-bottom: 40px;
}

.movie-button {
  display: inline-block;
  justify-content: space-around;
  background-color: black;
  color: white;
  border: 2px solid white;
  width: 115px;
  font-weight: bold;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  object-position: center;
}

.movie-button:hover { 
  opacity: 1;
  background-color: white;
  color: black;
  border: 2px solid black;
 }

.profile {
  display: flex;
  width: 100%;
}

.user-profile {
  display: flex;
  margin: 15px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2rem;
  width: auto;
  border-radius: 4px;
}

.add-user {
  background: rgb(0, 0, 0);
  color: white;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 2% auto 0;
	border-top: 5px solid rgb(77, 3, 95);
  margin-bottom: 40px;
}

.user {
  background: rgb(0, 0, 0);
  color: white;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 2% auto 0;
	border: 2px solid rgb(77, 3, 95);
  border-top: 5px solid rgb(77, 3, 95);
  margin-bottom: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
  object-position: center;
}

.user:hover { 
  opacity: 1;
  background-color: rgb(77, 3, 95);
  color: white;
  border: 2px solid rgb(77, 3, 95);
  border-top: 5px solid rgb(77, 3, 95);  
 }

 .user a:link, a:visited, a:active {
  outline: none;
  text-decoration: none;
  color: white;
}

.user input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}

.user-button {
  display: inline-block;
  background-color: black;
  color: white;
  border: 2px solid rgb(77, 3, 95);
  width: 115px;
  font-weight: bold;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  object-position: center;
}

.user-button:hover { 
  opacity: 1;
  background-color: rgb(77, 3, 95);
  color: white;
  border: 2px solid black;
 }

.align-button {
  display: flex;
  flex-direction: row;
}

.input-field {
  color: rgb(241, 44, 44);
  font-size: 0.8rem
}

footer {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}